{% load static %}
<html>
    <head>
        <title>Диплом</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,700&display=swap" rel="stylesheet">

    </head>
<body>
    <nav>
        <ul class="nav_ul">
            <a href="{% url 'post_list' %}" class="logo">Форум</a>
            <div class="nav-right">
                {% if user.is_authenticated %}
                    {% if user.profile.pk %}
                        <a href="{% url 'profile_view' user.profile.pk %}" class="header-btn">@{{ user.get_username  }}</a>
                    {% else %}
                        <a href="{% url 'create_profile'  %}" class="header-btn">Создать профиль</a>
                    {% endif %}
                    <a href="{% url 'logout' %}" class="header-btn">Log out</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="header-btn">Регистрация </a>
                    <a href="{% url 'login' %}" class="header-btn">Вход</a>
                {% endif %}
            </div>
        </ul>
    </nav>
    
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>