{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <header>
        <img src="{% static 'media/character6.svg' %}" class='banner_human' alt="">
        <div class="banner-text_container">
            <h1>Поделись своими впечатлениями с нами</h1>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><button class="banner-btn">Добавить пост</button></a>
            {% else %}
                <a href="{% url 'login' %}" class="banner-btn">Вход</a>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <h3 class="posts_nonp">Недавние посты:</h3>
        {% for post in posts %}
            <div class="post-content">
                <h3 class="post-title">{{ post.title }}</h3>

                {% if post.author.profile %}
                    <a class="author_link" href="{% url 'profile_view' pk=post.author.pk %}">@{{ post.author }}</a>
                {% else %}
                     <p class="author_link author_link_wwithoutp">@{{ post.author }}</p>
                {% endif %}

                <p class="publish_date">{{ post.published_date }}</p>
                <p class="post_minidesc t_a">{{ post.text }}</p>
                <div class="post-statistic_block">
                    <i class="fad fa-eye"></i>
                    <p>{{ post.count_of_view }}</p>
                    {% if user in post.likes_check.all %}
                        <i class="fas fa-heart"></i>
                    {% else %}
                        <i class="far fa-heart"></i>
                    {% endif %}
                    <p>{{ post.likes }}</p>
                </div>
                <a href="{% url 'post_detail' pk=post.pk %}"><button class="main-btn">подробнее</button></a>
            </div>
        {% endfor %}

    </div>
{% endblock %}
